.desplegable {
  position: relative;
  margin-bottom: 1rem;
  padding: 1rem;
  background: #9864ff;
  border-radius: 80px;
  z-index: 1;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px #3b38a1, -5px -5px 10px #7f75ff;
  
}

.invisible {
  background: transparent;
}

.desplegable button {
  border-radius: 50px;
  background: linear-gradient(145deg, #6b63ff, #4f4ae3);
  border: none;
  box-shadow: 5px 5px 10px #3b38a1, -5px -5px 10px #7f75ff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 50px;
  margin-left: 50px;
  transition: all 0.3s ease;
}

.desplegable button:hover {
  background: linear-gradient(145deg, #5a54d6, #4340b3);
  box-shadow: 5px 5px 15px #2d2a8e, -5px -5px 15px #6c62ff;
  cursor: pointer;
}

.desplegable button:active {
  background: linear-gradient(145deg, #4a48b6, #3834a1);
  transform: translateY(2px);
}

.descripcion, .boton-texto {
  background: url("../public/background.jpg") no-repeat center center fixed;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  color: transparent;
  background-size: cover;
}

@media (max-width: 768px) {
  .desplegable {
    padding: 0.5rem;
  }
  .desplegable button {
    margin-right: 25px;
    margin-left: 25px;
  }
}
