.separador {
  width: 80vw;
  max-width: 800px; /* Ajusta este valor según tus necesidades */
  border-top: 1px solid white;
  position: relative;
  margin: 60px auto;
}

.separador::after {
  content: "";
  position: absolute;
  left: 50%;
  top: -5px; /* Ajusta la posición del círculo */
  width: 10px; /* Ajusta el tamaño del círculo */
  height: 10px; /* Ajusta el tamaño del círculo */
  background: white; /* Ajusta el color del círculo */
  border: 1px solid black; /* Ajusta el color del borde del círculo */
  border-radius: 50%;
  transform: translateX(-50%);
}