/* App.css */
#root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Comic Sans MS', sans-serif;
}

.App {
  text-align: center;
  font-family: 'Comic Sans MS', sans-serif;
}

.App-header {
  background-color: #e1e6ef;
  min-height: vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main {
  margin: 2rem;
}



.experiencia-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


footer {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #282c34;
  color: white;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .experiencia-container {
    flex-direction: column;
  }

  .empleos-informatica,
  .otros-empleos {
    width: 90%;
  }
}

body {
  background-image: url('./public/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

@media (max-width: 768px) {
  #root {
    padding: 1rem;
  }
  .App-header {
    min-height: 5vh;
    padding: 1rem;
  }
  main {
    margin: 1rem;
  }
  section {
    margin-bottom: 1rem;
    padding: 0.75rem;
  }
  .experiencia-container {
    flex-direction: column;
  }
  .empleos-informatica,
  .otros-empleos {
    width: 90%;
  }
  footer {
    margin-top: 1rem;
    padding: 0.5rem;
  }
}


.titulo-header{
    background: url('./public/background.jpg') no-repeat center center fixed; 
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    color: transparent;
    background-size: cover;
}